body {
    margin-bottom: 20vh;
}

img {
    object-fit: cover;
    height: 50vh;
}

.card {
 width: 18rem;   
 height: 32rem;
 margin: 20px;
}

#farmers {
    display: flex;
    justify-content: space-around;
}

#farmer-title {
    text-align: center;
    margin: 30px;
 }